@page "/paymentlist"
@inject IPaymentHttpClient paymentClient

<h1>Payments</h1>

@if (payments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Payment ID</th>
                <th>Payment Status</th>
                <th>Order ID</th>
                <th>Order Description</th>
                <th>Order Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in payments)
            {
            <tr>
                <td>@payment.PaymentDate.ToShortDateString()</td>
                <td>@payment.PaymentID</td>
                <td>@payment.Status</td>
                <td>@payment.OrderID</td>
                <td>@payment.Order.Description</td>
                <td>@payment.Order.Amount</td>
                <td><span class="fas fa-sync list-action" @onclick="@(async()=>await GetStatus(payment))"> check payment</span></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Payment> payments;

    protected override async Task OnInitializedAsync()
    {
        payments = await paymentClient.Get();
    }

    public async Task GetStatus(Payment payment)
    {
        Payment p = await paymentClient.GetStatus(payment);
        payment.Status= p.Status;
    }

}
